/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a.menulink {
    display: block;
    
    color: black;
    text-decoration: none;
    font-size: 150%;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* alla länkar med attributet ID="commonlink" berörs av alla commonlink */
A.commonlink {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 22px;
    color : black;
    font-weight : bold;
    text-decoration : none;
}

A:ACTIVE.commonlink {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 22px;
    color : blue;
    font-weight : bold;
    text-decoration : none;
}

A:VISITED.commonlink {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 22px;
    color : black;
    font-weight : bold;
    text-decoration : none;
}


A:HOVER.commonlink {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 22px;
    color : blue;
    font-weight : bold;
    text-decoration : none;
}




A.maillink{
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 22px;
    color : black;
    font-weight : bold;
    text-decoration : none;

}

A:ACTIVE.maillink {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 22px;
    color : blue;
    font-weight : bold;
    text-decoration : none;
}

A:VISITED.maillink {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 22px;
    color : black;
    font-weight : bold;
    text-decoration : none;
}


A:HOVER.maillink {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 22px;
    color : blue;
    font-weight : bold;
    text-decoration : none;
}



.sliderposition{
    position: absolute;
    width:600px;
    height:200px;
    left:220px;
    top:20px;
    
}

.menuposition{

    position: absolute;
    left:40px;
    top: 250px;
    border-left: solid #5c5c5c;
;
    
 
}

.menustyle
{


}


.caeposition {
    position: absolute;
    left:10px;
    top: 30px;
    

}
.tabs1
{
    position: absolute;
    
    top:250px;
    left:215px;
    

}

.tabs2
{
    position: absolute;
    
    top:350px;
    left: 220px;
    max-width: 600px;
	
    

}
 .valkommen
 {
    position: absolute;
    
    top:550px;
    left:30px; 
    max-width: 140px;   
 }
 
 .work
 {
 position: absolute;
 top:400px;
 left:300px;
 }

 .jobb1
 {
  position: absolute;
  top:480px;
  left:300px;
 }
 
 .jobb2
 {
 position: absolute;
 top:480px;
 left:420px;
 }
 
 .jobb3
 {
 position: absolute;
 top:472px;
 left:530px;
 }
 
 .jobb4
 {
 position: absolute;
 top:472px;
 left:645px;
 }
 
 .botten
 {
 position: absolute;
 top:550px;
 left:220px;
 }
 
.mig
{
    position: absolute;
    
    top:400px;
    left:30px; 
    
}
.port
{
position: absolute;
top:250px;
left:350px;

}

.mailme
{
position: absolute;
top:400px;
left:230px;
}
.mail
{
position: absolute;
top:500px;
left:250px;
}

.aboutme
{

position: absolute;
top:250px;
left:350px;
}

.m
{
position: absolute;
    left:620px;
	top:450px;
}

.vac
{
 position: absolute;
    left:500px;
	top:650px;
}

.mail
{
position: absolute;
top:485px;
left:290px;
color:#4747FF;
}


.doc
{
position: absolute;
left:230px;
top:600px;
}



.doc2
{
position: absolute;
left:235px;
top:640px;
}



.head1
{
position: absolute;
left:250px;
top:400px;
}



.head2
{
position: absolute;
left:250px;
top:550px;
}



.he2
{
position: absolute;
left:300px;
top:575px;
width: 250px;
}



.head3
{
position: absolute;
left:250px;
top:680px;
}


.he3
{
position: absolute;
left:300px;
top:700px;
max-width: 200px;
}

.chat
{
position: absolute;
top:450px;
left:220px;
}

.chat2
{
position: absolute;
top:500px;
left:220px;
}
.number
{
position: absolute;
top:535px;
left:290px;
}



.call
{
position: absolute;
top:550px;
left:223px;
}

.call2

{
position: absolute;
top:590px;
left:230px;
max-width: 600px;s
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}